:root {
  --color-primary:#A2DED0;
  --color-primary-lightblue:#30A9DE;
  --color-primary-darkblue:#1A1D4E;
  --color-primary-black:#000000;
  
  --color-secondary:#7AD3EB;
  --color-secondary-green: #8ECABC;
  --color-secondary-black:#000000;
  --color-secondary-white:#F1F1F1;
  --color-but: #404374;
  --color-but-hover: #1A1D4E;
}